{% extends "index.html" %}
{%load static%}
{% block informacion %}
<div class="jumbotron container row">
    <div class="col-md-6">
        <h1>Add Question</h1>
        <div class="card card-body">
           <p>Remember, in the "ans" box, you have to write the correct option.</p>
           <p>For example:</p> 
           <img src="{% static '/img/exampleAns.png' %}" width="300" height="35">
            <br/>
           
            </div>
        </div>
    </div>
</div>
<form action="" method="POST">
    {% csrf_token %}
      {{form.as_p}}
      <br>
   <input type="submit" name="Submit">
   </form>
{% endblock %}
</body>