{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" />
</head>

<body>
	<section id="vocabulary-exercises" class="wrapper style3 special">
		<div class="inner">

			<header class="major">
				<h2>Vocabulary excercises!</h2>
				<input type="button" onclick="history.back()" name="back" value="BACK">
			</header>
            <div id="principal">
                <h1>Asia</h1>
                <h2>Countries and nationalities</h2>
                <div id="ContainerDiv">
                  <div class="ExerciseContainer"> 
                    <div id="ClozeDiv">
                      <form id="Cloze" method="post" autocomplete="off" onsubmit="return false;">
                        <div class="ClozeBody">
                          <table>
                            <tbody>
                              <tr>
                                <td width="127">Iran</td>
                                <td width="159"><span class="GapSpan" id="GapSpan0">
                                  <select id="Gap0">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Iraq</td>
                                <td><span class="GapSpan" id="GapSpan1">
                                  <select id="Gap1">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Israel</td>
                                <td><span class="GapSpan" id="GapSpan2">
                                  <select id="Gap2">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Saudi Arabia</td>
                                <td><span class="GapSpan" id="GapSpan3">
                                  <select id="Gap3">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Turkey</td>
                                <td><span class="GapSpan" id="GapSpan4">
                                  <select id="Gap4">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>India</td>
                                <td><span class="GapSpan" id="GapSpan5">
                                  <select id="Gap5">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Pakistan</td>
                                <td><span class="GapSpan" id="GapSpan6">
                                  <select id="Gap6">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>China</td>
                                <td><span class="GapSpan" id="GapSpan7">
                                  <select id="Gap7">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Japan</td>
                                <td><span class="GapSpan" id="GapSpan8">
                                  <select id="Gap8">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Korea</td>
                                <td><span class="GapSpan" id="GapSpan9">
                                  <select id="Gap9">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Taiwan</td>
                                <td><span class="GapSpan" id="GapSpan10">
                                  <select id="Gap10">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Indonesia</td>
                                <td><span class="GapSpan" id="GapSpan11">
                                  <select id="Gap11">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Thailand</td>
                                <td><span class="GapSpan" id="GapSpan12">
                                  <select id="Gap12">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                              <tr>
                                <td>Vietnam</td>
                                <td><span class="GapSpan" id="GapSpan13">
                                  <select id="Gap13">
                                    <option value="">&nbsp;</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Indonesian">Indonesian</option>
                                    <option value="Iranian">Iranian</option>
                                    <option value="Iraqi">Iraqi</option>
                                    <option value="Israeli">Israeli</option>
                                    <option value="Japanese">Japanese</option>
                                    <option value="Korean">Korean</option>
                                    <option value="Pakistani">Pakistani</option>
                                    <option value="Saudi Arabian">Saudi Arabian</option>
                                    <option value="Taiwanese">Taiwanese</option>
                                    <option value="Thai">Thai</option>
                                    <option value="Turkish">Turkish</option>
                                    <option value="Vietnamese">Vietnamese</option>
                                  </select>
                                  </span></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </form>
                    </div>
                    <button id="CheckButton2" class="FuncButton" onmouseover="FuncBtnOver(this)" onfocus="FuncBtnOver(this)" onmouseout="FuncBtnOut(this)" onblur="FuncBtnOut(this)" onmousedown="FuncBtnDown(this)" onmouseup="FuncBtnOut(this)" onclick="CheckAnswers()">&nbsp;Check&nbsp;</button>
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <button class="FuncButton" onfocus="NavBtnOver(this)" onblur="NavBtnOut(this)" onmouseover="NavBtnOver(this)" onmouseout="NavBtnOut(this)" onmousedown="NavBtnDown(this)" onmouseup="NavBtnOut(this)" onclick="location='https://agendaweb.org/vocabulary/countries_nationalities-exercises.html'; return false;">More exercises »</button>
                  </div>
                </div>
                <div class="Feedback" id="FeedbackDiv">
                  <div class="FeedbackText" id="FeedbackContent"></div>
                  <button id="FeedbackOKButton" class="FuncButton" onfocus="FuncBtnOver(this)" onblur="FuncBtnOut(this)" onmouseover="FuncBtnOver(this)" onmouseout="FuncBtnOut(this)" onmousedown="FuncBtnDown(this)" onmouseup="FuncBtnOut(this)" onclick="HideFeedback(); return false;">OK</button>
                </div>
                <p>&nbsp;</p>
              </div>
			
            
	</section>
</body>

</html>