{% load static %}

<html>
    <head>
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" /> {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/login-register.css' %}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <!-- Bootswatch -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>
        
        {%block header%}
        {%endblock%}
    </head> 

    <body>
        <!--Navbar-->
        {% if request.user.is_authenticated %}
        <div >
            <a class="btn btn-primary btn-lg" href="/homelogin" role="button">HOMEPAGE</a>
        </div>
        
        {% endif %}
        {% block contenido %}

        {% endblock %}
        <!-- Centerheader -->
    
    </body>
    {% block forms %}
    {% endblock%}
</html>

