{% load static %}

<!DOCTYPE html>
<html>

<head>
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" /> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/css/login-register.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Bootswatch-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>
</head>

<body>
	<section id="writingexercises" class="wrapper style3 special">
		<div class="inner">
		<div class="jumbotron">
			<h1 class="display-3">Registration confirmed!</h1>
			<p class="lead">Thank you for your email confirmation. Now you can login your account.</p>
			<hr class="my-4">
			<p>You can go to login section or go back to homepage.</p>
			<p class="lead">
			<a class="btn btn-primary btn-lg" href="/accounts/login/" role="button">SIGN IN</a>
            <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">HOMEPAGE</a>
			</p>
		</div>
	</section>
</body>

</html>