{% extends "index.html" %}
{% load static %}
{% block informacion %}
<section id="writingexercises" class="wrapper style3 special">
    <div class="inner">
        <div class="jumbotron">
            <h2 class="display-3">{{exercise.title_exercise}} - Author: {{exercise.author}} </h2>
            <br/>
            <p class="lead">{{exercise.description_exercise}}</p>
            <hr class="my-4">
        </div>
    </div>
    <div id="principal">
        <ul>
                <p>{{exercise.activity}}</p>
                {% if exercise.file != '' %}
                    <img src= '{{MEDIA_URL}}{{exercise.file}}' width="400" height="250" alt="Image for the activiy. If it doesn't exist, you will see this message">
                {% endif %}
                <br/>
                {% if exercise.audio != '' %}
                    <audio controls autoplay>
                        <source src="{{MEDIA_URL}}{{exercise.audio}}" type="audio/mpeg">
                    there is no audio here.
                    </audio> 
                {% endif %}
                <details>
                    <summary>Correct answer</summary>
                    <p>{{exercise.correct_answer}}</p>
                </details>
    </div>
</section>

{% endblock %}
