{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" />
</head>

<body>
	<section id="grammar-exercises" class="wrapper style3 special">
		<div class="inner">

			<header class="major">
				<h2>Grammar excercises!</h2>
				<input type="button" onclick="history.back()" name="back" value="BACK">
			</header>

			<ul>
                <li><a href="alphabet-exercises">Alphabet</a></li>
                <li><a href="articles-exercises">Articles: a / an / the</a></li>
            </ul>
	</section>
</body>

</html>