{% extends "base.html" %}
{% load static %}

<body>
    {% block contenido %}
    
    {% block barra %}
    {% include "barra.html" %}
    {% endblock barra %}
    
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-auto">
            <div class="row h-10 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <img src="{% static '/img/icandoit.jpg' %}" width="400" height="250">
                    <hr class="divider my-4" style="border-color: #d4bd22;" />
                    
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-150 font-weight-light mb-5" style="color: white;">
                        Welcome <big>{{ user.username }}</big> !
                    </p>
                    {% if request.user.is_authenticated %}
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/search" role="button">SEARCH FOR EXERSICES HERE!</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    {%endblock%}
</body>

</html>