{% extends "base.html" %}
{% load static %}

<html>
    <body>
      {% block contenido %}
        <!--Navbar-->
        {% if request.user.is_authenticated %}
        <div >
            <a class="btn btn-primary btn-lg" href="/homelogin" role="button">HOMEPAGE</a>
        </div>
        {%else%}
        <div >
            <a class="btn btn-primary btn-lg" href="/" role="button">HOMEPAGE</a>
        </div>
        
        {% endif %}
        {% block informacion %}

        {% endblock informacion%}
        <!-- Centerheader -->
      {% endblock %}
    </body>
    
</html>

