{% extends "index.html" %}
{% load static %}

<!DOCTYPE html>
<html>

<body>
	{% block informacion %}
	<section id="writingexercises" class="wrapper style3 special">
		<div class="inner">
		<div class="jumbotron">
			<h1 class="display-3">Activation link is invalid!</h1>
			<p class="lead">Please try to register again or go back to homepage.</p>
			<hr class="my-4">
			<p class="lead">
            <a class="btn btn-primary btn-lg" href="/register/" role="button">REGISTER</a>
			</p>
		</div>
	</section>
	{%endblock%}
</body>

</html>