{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html>

<body>
	{% block contenido %}
	<section id="listeningexercises" class="wrapper style3 special">
		<div class="inner">
			{% comment %} <header class="major">
				<h2>LISTENING EXERCISES</h2>
				<input type="button" onclick="history.back()" name="back" value="BACK TO MAIN">
			</header> {% endcomment %}
			<div class="jumbotron">
				<h1 class="display-3">LISTENING EXERCISES!</h1>
				<p class="lead">In this section you can see the listening excercises...</p>
				<hr class="my-4">

			</div>
			<ul>
				{% for exercise in exercise_list %}
				<li> <a class="button" href="{%url 'exercise-detail' exercise.id %}">{{exercise.title_exercise}}</a> - {{exercise.author}}
					<br/>
					{{exercise.description_exercise}}
				</li>
				{% endfor%}
			</ul>
			
		</div>
	</section>
	{% endblock %}
</body>

</html>