{%extends "index.html"%}
{% load static %}

{% block informacion %}
<section id="writingexercises" class="wrapper style3 special">
    <div class="inner">
        <div class="jumbotron">
            <h1 class="display-3">MULTIPLE CHOICE EXERCISES!</h1>
        </div>    
    </div>
    <form method='post' action=''>
        {% csrf_token %}
        {% for q  in questions%}
        <div class="form-group">
        <label for="question">{{q.question}}</label>
        </div>
        <div class="form-check">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                    {{q.op1}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                    {{q.op2}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="option3">
                <label class="form-check-label" for="gridRadios1">
                    {{q.op3}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="option4">
                <label class="form-check-label" for="gridRadios2">
                    {{q.op4}}
                </label>
            </div>
            <br>
        </div>    
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-success">
                <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form> 
</section>    
{% endblock %}
