{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>


<body>
	{% block informacion %}
	<section id="professors_apply" class="wrapper style3 special">
		<p class="lead">
		</p>
		<div class="inner">
			
            <form method="post", action="professors_apply" enctype="multipart/form-data">
				
				<p class="lead">In this section you can apply to be a teacher.</p>
                {% csrf_token %}  
                {% comment %} {{form.as_p}}  {% endcomment %}
				{{ form|crispy }} 
                <button type="submit" class="btn btn-primary btn-lg" name="CREATE">Submit</button>
			</form>
	
	</section>
	{% endblock %}
</body>

</html>