{% load static %}

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Professors</title>

        <!-- Swiper CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/swiper-bundle.min.css' %}"/>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/professors.css' %}"/>
        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
		<!-- Bootswatch-->
		<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>                           
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-3">PROFESSORS!</h1>
            <p class="lead">In this section you can view the active professors in our page...</p>
            <hr class="my-4">
            
            <p class="lead">
            {% if request.user.is_authenticated or request.user.is_superuser%}
            <p>If you dont want view this page, you can go back to homepage.</p>
            <a class="button" href="/homelogin" role="button">Homepage</a>
            {% else %}
            <p>If you dont want view this page, you can go back to homepage, or create an account.</p>
            <a class="button" onclick="history.back()" role="button">Homepage</a> 
            <a class="button" href="/register/ role="button">Register now</a>
            {% endif %}
            </p>
        </div>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">

                    {% for proffesor in professors %}
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="{{MEDIA_URL}}{{proffesor.avatar}}" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">{{proffesor.name}}</h2>
                            <p class="description">{{proffesor.short_description}}</p>

                            <button class="button" href="/proffesors_more"">View More</button>
                        </div>
                    </div>
                    {% endfor%}
                    
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </body>

    <!-- Swiper JS -->
    <script src="{% static '/js/swiper-bundle.min.js' %}"></script> 
    <!-- JavaScript -->
    <script src="{% static '/js/professors.js' %}"></script>
</html>
