{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

	<head>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
		<!-- Bootswatch-->
		<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>
	</head>

<body>
	{% block contenido %}
	<section id="professors_apply" class="wrapper style3 special">
		<p class="lead">
		</p>
		<div class="inner">
			
            <form method="post", action="professors_apply" enctype="multipart/form-data">
				
				<p class="lead">In this section you can apply to be a teacher.</p>
                {% csrf_token %}  
                {% comment %} {{form.as_p}}  {% endcomment %}
				{{ form|crispy }} 
                <button type="submit" class="btn btn-primary btn-lg" name="CREATE">Submit</button>
			</form>
	
	</section>
	{% endblock %}
</body>

</html>