{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block informacion %}
<section class="wrapper style3 special">
    <div class="inner">
        <div class="jumbotron">
            <h1 class="display-3">REGISTER!</h1>
            <p class="lead">In this section you can register yourself...</p>
            <hr class="my-4">
        </div>
    </div>
</section>
<div>
	<form class="form" method="post">
		{% csrf_token %}
			<fieldset class="form-group">
				
				{{ form|crispy }}
			</fieldset>
			<div class="form-group" style = "text-align: center;">
				<button class="btn btn-success" type="submit">Confirm</button>
			</div>
			<div class="d-flex align-items-center justify-content-center pb-4">
				<small class="text-muted">
					Already have an account? <a class="ml-2" href="/accounts/login/">Sign in</a>
				</small>
			</div>
	</form>
</div>
{%endblock informacion%}



