{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" />
</head>

<body>
	<section id="speakingexercises" class="wrapper style3 special">
		<div class="inner">

			<header class="major">
				<h2>SPEAKING EXERCISES</h2>
				
				<input type="button" onclick="history.back()" name="back" value="BACK TO MAIN">
			</header>

			<ul>
				{% for exercise in exercise_list %}
				<li> {{exercise.title_exercise}} - {{exercise.description_exercise}} 
					<br/>
					<details>
						<summary>Details</summary>
						<p>{{exercise.activity}}</p>
						<img src= '{{MEDIA_URL}}{{exercise.file}}' alt="Image for the activiy. If it doesn't exist, you will see this message">
						<details>
							<summary>Correct answer</summary>
							<p>{{exercise.correct_answer}}</p>
						</details>
					</details>
				</li>
				{% endfor%}
			</ul>
		</div>
	</section>
</body>

</html>