{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" />
</head>

<body>
	<section id="vocabulary-exercises" class="wrapper style3 special">
		<div class="inner">

			<header class="major">
				<h2>Vocabulary excercises!</h2>
				<input type="button" onclick="history.back()" name="back" value="BACK">
			</header>

			<div id="principal">
                <h1>Countries - nationalities</h1>
                <h2>Exercises: nationalities </h2>
                <ol>
                  <li><a href="america-nationalities">America: countries and nationalities</a></li>
                  <li><a href="asia-nationalities">Asia: countries and nationalities 1</a></li>
    
                </ol>
  
              </div>
	</section>
</body>

</html>