{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" />
</head>

<body>
	<section id="writingexercises" class="wrapper style3 special">
		<div class="inner">

			<header class="major">
				<h2>WRITING EXERCISES</h2>
				<p>Click here, for more exercises to practise.</p>
				<input type="button" onclick="history.back()" name="back" value="BACK TO MAIN">
			</header>

			<ul class="exercises">
				<li class="writing1">
					<h3>Exercise 1</h3>
					<p>Rellenar con preview de ejercicio 1 -- Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Beatae iste odit, commodi quos nemo iure ipsum similique ducimus vero voluptatem possimus non doloremque 
						magnam reprehenderit repellat magni tempora, aut repudiandae..</p>
				</li>
				<li class="writing2">
					<h3>Exercise 2</h3>
					<p>Rellenar con preview de ejercicio 2 -- Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Beatae iste odit, commodi quos nemo iure ipsum similique ducimus vero voluptatem possimus non doloremque 
						magnam reprehenderit repellat magni tempora, aut repudiandae..</p>
				</li>
				<li class="writing3">
					<h3>Exercise 3</h3>
					<p>Rellenar con preview de ejercicio 3 -- Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Beatae iste odit, commodi quos nemo iure ipsum similique ducimus vero voluptatem possimus non doloremque 
						magnam reprehenderit repellat magni tempora, aut repudiandae..</p>
				</li>
				<li class="writing4">
					<h3>Exercise 4</h3>
					<p>Rellenar con preview de ejercicio 4 -- Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						Beatae iste odit, commodi quos nemo iure ipsum similique ducimus vero voluptatem possimus non doloremque 
						magnam reprehenderit repellat magni tempora, aut repudiandae..</p>
				</li>
			</ul>
		</div>
	</section>
</body>

</html>