{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercises.css' %}" />
</head>

<body>
	<section id="writingexercises" class="wrapper style3 special">
		<div class="inner">

			<header class="major">
				<h2>WRITING EXERCISES</h2>
				<input type="button" onclick="history.back()" name="back" value="BACK TO MAIN">
			</header>

			<div id="principal">
				<h2>Exercises for all levels </h2>
				<ul>
				  <li><a href="grammar-exercises">Grammar exercises</a></li>
				  <li><a href="vocabulary-exercises">Vocabulary exercises</a></li>
				</ul>
		</div>
	</section>
</body>

</html>