{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/css/login-register.css' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Bootswatch-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-buttom mb-2">LOG IN</legend>
            {% comment %} {{form.as_p}} {% endcomment %}
            {{ form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-primary" href="/registration/login/">Confirm</button>
        <div class="d-flex align-items-center justify-content-center pb-4">
            <small class="text-muted">
                You dont have an account? <a class="ml-2" href="/register/">Create a new one here!</a>
            </small>
        </div>
    </form> 
</body>

</html>